name: Run on Tag Push

on:
  push:
    tags:
      - 'v*'

jobs:
  run-robot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Build the package
        run: |
          python -m pip install --upgrade pip build
          python -m build -w