name: Build and Release on Tag Push

on:
  push:
    tags:
      - 'v*'
permissions:
  contents: write  

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Build Wheel Only
        run: |
          python -m pip install --upgrade pip build
          python -m build --wheel

      - name: Upload Wheel Artifact
        uses: actions/upload-artifact@v4
        with:
          name: wheel
          path: dist/*.whl

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*.whl
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}